html {
    overflow: hidden;
}

body {
    margin: 0 0 0 0;
    font-size: 26px;
    font-family: "Times New Roman", Times, serif;
    color: rgb(247, 243, 235);
    height: 100vh;
    width: 100vw;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x:hidden;
    overflow-y:scroll;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }
/* ----------Parallax-------------------------------------------------------------------------------------------------------------------- */

.parallax-wrapper {
    width: 100vw;
    height:100vh;
    margin: none;
    padding-top:20vh;
    padding-bottom: 20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
    
}

#parallax-wrapper1::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-image: url("Protruding-Squares.svg");
    background-repeat: repeat;
    position: absolute;
    transform:translateZ(-1px) scale(2);
    z-index: -1;
    overflow: hidden;  
}

#parallax-wrapper2::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top: 0;
    left:0;
    background-image: url("Protruding-Squares.svg");
    background-repeat: repeat;
    position: absolute;
    transform:translateZ(-1px) scale(2);
    z-index: -2;
}

#parallax-wrapper3::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top: 0;
    left:0;
    background-image: url("Protruding-Squares.svg");
    background-repeat: repeat;
    position: absolute;
    transform:translateZ(-1px) scale(2);
    z-index: -3;
}

.parallax-content {
    margin: 0 auto;
    padding: .5em;
    width: 65vw;
    height: auto;
    background-image: url("Varying-Stripes.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 15px black;
}

#p-content1 {
    color: black;
    padding: 5%;
    font-size: calc(38vh * 0.09);
    
}
    
#p-content2 {
    font-size: calc(55vh * 0.04);
    
    color: white;
    background-image: url("Rainbow-Vortex.svg");
    /* margin: auto auto; */
    padding: .5em;
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: 
    "header header"
    "skill1 skill2"
    "skill3 skill4"
    ;
    justify-items: center;
}

#p-content2 h2 {
    width: 95%;
    font-size: calc(55vh * .07);
    
    border-bottom: 3px solid black;
    text-align: center;
    align-self: flex-end;
    margin: 0 0 0 0;
}

#p-content3 {
    color: black;
    font-size: calc(40vh * .09);
    
}


/* ----------Regular-------------------------------------------------------------------------------------------------------------------- */


.regular-wrapper {
    background-image: url("Subtle-Prism.svg");  
    z-index: 2;
    position: relative;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

#regular-wrapper1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-image: url("Subtle-Prism.svg");
    /* background-image: none; */
}

#regular-wrapper2 {
    font-size: calc(45vh * 0.15);
    
    width: 100vw;
    height: 100vh;
    background-image: url("Subtle-Prism.svg");
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 10vh 45vh 45vh;
    grid-template-areas: 
    "header header"
    "logo1 edu1"
    "logo2 edu2"
    ;
    align-items: center;
    padding: 1em;
}

#regular-wrapper2 h2 {
    grid-area: header;
    
}

#regular-wrapper2 img {
    height: 30vh;
    max-height: 4em;
    width: auto;
    justify-self: center;
    
}

#regular-wrapper2 p {
    justify-self: center;
}


.work-wrapper {
    background-size: contain;
    background-repeat: initial;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 3%;
    width: 30vh;
    height: 30vh;
    background-position: 30% 50%;
    display: flex;
}  

.work {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3%;
    border-radius: 3%;
    width: 100%;
    background-position: 30% 50%;
}  

.work span {
    
    /* font-size: 28pt; */
    font-size: calc(30vh * .12);
    color: black;
    transition: 1s ease none;
    transition-property: color;
}

.work p, .work ul {
    opacity: 0;
    transition: 1s;
    /* font-size: 80%; */
    font-size: calc(30vh * .07);
    color: black;
}

.work ul, .work li {
    opacity: 0;
    transition: 1s;
    /* font-size: 100%; */
    font-size: calc(30vh * .07);
    color: black;
}

.work:hover span {
    color: white;
}

.work:hover p, .work:hover ul {
    opacity: 1;
    color: white;
}

.work:hover ul, .work:hover li {
    opacity: 1;
    color: white;
}

#lawn {
    background-image: url('string trimmer.jpg');
    background-repeat:no-repeat;
    background-position: center;
    transition: 1s ease all;
    background-blend-mode:multiply; 
}

#lawn:hover {
    background-color: rgba(56, 47, 47, 0.596);
    background-position: 3%;
    background-image: url('string trimmer.jpg');

}

#assistant {
    background-image: url('chopping\ wood.jpg');
    background-repeat:no-repeat;
    background-position: center;
    transition: 1s ease all;
    background-blend-mode:multiply;  
    
}

#assistant:hover {
    background-color: rgba(56, 47, 47, 0.596);
    background-position: 0%;
    background-image: url('chopping\ wood.jpg');
}

#arbys {
    background-image: url('arbys.jpg');
    background-repeat:no-repeat;
    background-position: center;
    transition: 1s ease all;
    background-blend-mode:multiply;  
    background-position: 27% 50%; 
}

#arbys:hover {
    background-color: rgba(56, 47, 47, 0.596);
    background-position: 4%;
    background-image: url('arbys.jpg');

}

#AWC {
    background-image: url('woodworking.jpg');
    background-repeat:no-repeat;
    background-position: center;
    transition: 1s ease all;
    background-blend-mode:multiply;   
}


#AWC:hover {
    background-color: rgba(56, 47, 47, 0.596);
    background-position: 0%;
    background-image: url('woodworking.jpg');

}

#javascript h2 {
    border-bottom: 3px solid white;
    width: 95%;
}

#javascript {
    padding: 30px 30px 30px 30px;
    height: auto;
    min-height: 100vh;
}

.javascript_header button {
    align-self: center;
    justify-self: center;
}
    

/* ----------Header-------------------------------------------------------------------------------------------------------------------- */


.module-border-wrap {
    height: 104px;
    width: 100vw;
    padding-bottom: 4px;
    padding-top: 0;
    position: relative;
    background: linear-gradient(to left, #dadada, #dadada 0%, #000000 100%, #000000 );
    z-index: 3;
    
}

header {
    height: 98px;
    width: 100%;
    background-color: #575757;
    padding: none;
    z-index: 4;
    
  }
  
  header h1{
    padding: 0px;
    line-height: 8px;
  }
  
  .header-right {
      float: right;
      height: 100%;
      width: auto;
      border: black;
      border-width: 20px;
      margin: 0 1em 0px 0px;
  }
  
  .header-center{
      float: left;
      height: 80px;
      position: relative;
      padding: 10px;
      width: 160px;
  }
  
  .header-center p{
      float: left;
      padding-left: 0px;
      font-size: 30px; 
      line-height:9px;
      margin: 0;
      color: black;
      text-align: left;
      text-decoration: none;
  }
  
  header a {
      float: right;
      color: black;
      text-align: right;
      padding: 5px;
      font-size: 18px; 
      line-height:14px;
      width: 270px;
      margin-top: 1px;
      margin-bottom: 1px;
      border-bottom-color: 3px solid black;
  }
  
  header a.address {
      color: black;
  }
  
  header a.phone {
      color: black;
  }
  
  header a.email {
      color: black;
  }
  
  header img {
      float: left;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-image: linear-gradient(to left, #bbbbbb, #bbbbbb 0%, #000000 90%, #000000 );
      padding: 4px;
      margin-top: 5px;
      margin-left: 10px;
  }
  
  .vertical-center {
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }
  
  .hidden-br-title {
    display: none;
  }
  
  .hidden-br-header {
    display: none;
  }


/* ----------Media Querries-------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 980px) and (min-height: 1170px) {
    .work-wrapper {
        width: 35vw;
        height: 35vw;
    }
}

@media screen and (max-width: 725px) {
    
    .work-wrapper {
        width: 80vw;
        height: 18vh;
        margin-top: 5vh;
        margin-bottom: 0vh;
    }

    .work {
        padding: 5px;
        padding-left: 10px;
    } 

    .work span {
        font-size: 17pt;
    }

    .work p {
        font-size: 9pt;
        float: left;
    }

    .work ul {
        font-size: 9pt;
        float: left;
    }
    
    .work ul, .work li {
        font-size: 9pt;
    }

    .work:active span {
        color: white;
    }
    
    .work:active p, .work:active ul {
        opacity: 1;
        color: white;
    }
    
    .work:active ul, .work:active li {
        opacity: 1;
        color: white;
    }
    
    #lawn {
        background-image: url('string trimmer.jpg');
        background-repeat:no-repeat;
        background-position: center;
        transition: 1s ease all;
        background-blend-mode:multiply; 
    }
    
    #lawn:active {
        background-color: rgba(56, 47, 47, 0.596);
        background-position: 3%;
        background-image: url('string trimmer.jpg');
    
    }
    
    #assistant:active {
        background-color: rgba(56, 47, 47, 0.596);
        background-position: 0%;
        background-image: url('chopping\ wood.jpg');
    }
    
    #arbys:active {
        background-color: rgba(56, 47, 47, 0.596);
        background-position: 4%;
        background-image: url('arbys.jpg');
    
    }

    #AWC:active {
        background-color: rgba(56, 47, 47, 0.596);
        background-position: 0%;
        background-image: url('woodworking.jpg');
    
    }
}

@media screen and (max-width: 600px) {
    #p-content2 {
        font-size: calc(55vw * 0.05);
    }
}

