html {
    overflow: hidden;
}

body {
    margin: 0 0 0 0;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(247, 243, 235);
    height: 100vh;
    width: 100vw;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x:hidden;
    overflow-y:scroll;
}

/* .parallax-wrapper::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-image: url("Protruding-Squares.svg");
    background-size: initial;
    position: absolute;
    transform:translateZ(-1px) scale(2);
    z-index: -1;
} */


/* ----------Parallax-------------------------------------------------------------------------------------------------------------------- */

.parallax-wrapper {
    width: 100vw;
    height:100vh;
    margin: none;
    padding-top:20vh;
    padding-bottom: 20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
    
}

#parallax-wrapper1::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-image: url("Protruding-Squares.svg");
    background-repeat: repeat;
    position: absolute;
    transform:translateZ(-1px) scale(2);
    z-index: -1;
    overflow: hidden;  
}

#parallax-wrapper2::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top: 0;
    left:0;
    background-image: url("Protruding-Squares.svg");
    background-repeat: repeat;
    position: absolute;
    transform:translateZ(-1px) scale(2);
    z-index: -2;
}

#parallax-wrapper3::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top: 0;
    left:0;
    background-image: url("Protruding-Squares.svg");
    background-repeat: repeat;
    position: absolute;
    transform:translateZ(-1px) scale(2);
    z-index: -3;
}

.parallax-content {
    margin: 0 auto;
    padding: .5em;
    width: 65vw;
    height: 40vh;
    background-image: url("Varying-Stripes.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 15px black;
}
    
#p-content2 {
    font-size: calc(55vh * 0.03);
    font-family: "Times New Roman", Times, serif;
    color: white;
    background-image: url("Rainbow-Vortex.svg");
    margin: auto auto;
    /* margin-top: 20vh;
    margin-bottom: 20vh; */
    padding: .5em;
    width: 70vw;
    height: 55vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: 
    "header header"
    "skill1 skill2"
    "skill3 skill4"
    ;
    justify-items: center;
}
    
#p-content2 h2 {
    width: 95%;
    font-size: calc(55vh * .07);
    border-bottom: 3px solid black;
    text-align: center;
    align-self: flex-end;
    margin: 0 0 0 0;
}


/* ----------Regular-------------------------------------------------------------------------------------------------------------------- */


.regular-wrapper {
    width: 100vw;
    min-height: 100vh;
    height: 84vw;
    background-image: url("Subtle-Prism.svg");
    
    z-index: 2;
    position: relative;
    background-image: none;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

#regular-wrapper1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    background-image: url("Subtle-Prism.svg");
    /* background-image: none; */
}

#regular-wrapper2 {
    font-size: calc( (60vw) / 16 );
    width: 100vw;
    /* min-height: initial; */
    height: 100vh;
    background-image: url("Subtle-Prism.svg");
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 5vw 30vw 30vw;
    grid-template-areas: 
    "header header"
    "logo1 edu1"
    "logo2 edu2"
    ;
    align-items: center;
    padding: 1em;
    padding-bottom: 2.7em;
    /* background-image: none; */
}

#regular-wrapper2 h2 {
    grid-area: header;
    
}

#regular-wrapper2 img {
    height: auto;
    width: 60%;
    justify-self: center;
    
}

#regular-wrapper2 p {
    justify-self: center;
}

#regular-wrapper3 {
    font-size: calc( (35vw) / 16 );
    width: 100vw;
    min-height: initial;
    height: 50vh;
    background-image: url("Subtle-Prism.svg");
    display: grid;
    grid-template-columns: calc(25vw - 1em) calc(75vw - 1em);
    grid-template-rows: 5vw 30vw;
    grid-template-areas: 
    "header header"
    "profile about";
    align-items: center;
    padding: 0;
}

#regular-wrapper3 img {
    height: auto;
    width: 100%;
    justify-self: center;
    
}

.work-wrapper {
    background-size: contain;
    background-repeat: initial;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 3%;
    width: 30vh;
    height: 30vh;
    background-position: 30% 50%;
    display: flex;
}  

.work {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3%;
    border-radius: 3%;
    width: 100%;
    background-position: 30% 50%;
}  

.work span {
    font-family: "Times New Roman", Times, serif;
    /* font-size: 28pt; */
    font-size: calc(30vh * .12);
    color: black;
    transition: 1s ease none;
    transition-property: color;
}

.work p, .work ul {
    opacity: 0;
    transition: 1s;
    /* font-size: 80%; */
    font-size: calc(30vh * .07);
    color: black;
}

.work ul, .work li {
    opacity: 0;
    transition: 1s;
    /* font-size: 100%; */
    font-size: calc(30vh * .07);
    color: black;
}

.work:hover span {
    color: white;
}

.work:hover p, .work:hover ul {
    opacity: 1;
    color: white;
}

.work:hover ul, .work:hover li {
    opacity: 1;
    color: white;
}

#lawn {
    background-image: url('string trimmer.jpg');
    background-repeat:no-repeat;
    background-position: center;
    transition: 1s ease all;
    background-blend-mode:multiply; 
}

#lawn:hover {
    background-color: rgba(56, 47, 47, 0.596);
    background-position: 3%;
    background-image: url('string trimmer.jpg');

}

#assistant {
    background-image: url('chopping\ wood.jpg');
    background-repeat:no-repeat;
    background-position: center;
    transition: 1s ease all;
    background-blend-mode:multiply;  
    
}

#assistant:hover {
    background-color: rgba(56, 47, 47, 0.596);
    background-position: 0%;
    background-image: url('chopping\ wood.jpg');
}

#arbys {
    background-image: url('arbys.jpg');
    background-repeat:no-repeat;
    background-position: center;
    transition: 1s ease all;
    background-blend-mode:multiply;  
    background-position: 27% 50%; 
}

#arbys:hover {
    background-color: rgba(56, 47, 47, 0.596);
    background-position: 4%;
    background-image: url('arbys.jpg');

}

#AWC {
    background-image: url('woodworking.jpg');
    background-repeat:no-repeat;
    background-position: center;
    transition: 1s ease all;
    background-blend-mode:multiply;   
}


#AWC:hover {
    background-color: rgba(56, 47, 47, 0.596);
    background-position: 0%;
    background-image: url('woodworking.jpg');

}



/* ----------Header-------------------------------------------------------------------------------------------------------------------- */


.module-border-wrap {
    height: 104px;
    width: 100vw;
    padding-bottom: 4px;
    padding-top: 0;
    position: relative;
    background: linear-gradient(to left, #40e276, #40e276 0%, #33ceb4 100%, #33ceb4);
    z-index: 3;
    
}

header {
    height: 98px;
    width: 100%;
    background-color: #a09b9b;
    padding: none;
    z-index: 4;
    
  }
  
  header h1{
    padding: 0px;
    line-height: 8px;
  }
  
  .header-right {
      float: right;
      height: 100%;
      width: auto;
      border: black;
      border-width: 20px;
      margin: 0 1em 0px 0px;
  }
  
  .header-center{
      float: left;
      height: 80px;
      position: relative;
      padding: 10px;
      width: 160px;
  }
  
  .header-center p{
      float: left;
      padding-left: 0px;
      font-size: 30px; 
      line-height:9px;
      margin: 0;
      color: black;
      text-align: left;
      text-decoration: none;
  }
  
  header a {
      float: right;
      color: black;
      text-align: right;
      padding: 5px;
      font-size: 18px; 
      line-height:14px;
      width: 270px;
      margin-top: 1px;
      margin-bottom: 1px;
      border-bottom-color: 3px solid black;
  }
  
  header a.address {
      color: black;
  }
  
  header a.phone {
      color: black;
  }
  
  header a.email {
      color: black;
  }
  
  header img {
      float: left;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-image: linear-gradient(to left, #40e276, #40e276 0%, #33ceb4 100%, #33ceb4);
      padding: 4px;
  }
  
  .vertical-center {
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }
  
  .hidden-br-title {
    display: none;
  }
  
  .hidden-br-header {
    display: none;
  }


/* ----------Media Querries-------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 980px) and (min-height: 1170px) {
    .work-wrapper {
        width: 35vw;
        height: 35vw;
    }
}

@media screen and (max-width: 725px) {
    
    .work-wrapper {
        width: 80vw;
        height: 18vh;
        margin-top: 5vh;
        margin-bottom: 0vh;
    }

    .work {
        padding: 5px;
        padding-left: 10px;
    } 

    .work span {
        font-size: 17pt;
    }

    .work p {
        font-size: 9pt;
        float: left;
    }

    .work ul {
        font-size: 9pt;
        float: left;
    }
    
    .work ul, .work li {
        font-size: 9pt;
    }

    .work:active span {
        color: white;
    }
    
    .work:active p, .work:active ul {
        opacity: 1;
        color: white;
    }
    
    .work:active ul, .work:active li {
        opacity: 1;
        color: white;
    }
    
    #lawn {
        background-image: url('string trimmer.jpg');
        background-repeat:no-repeat;
        background-position: center;
        transition: 1s ease all;
        background-blend-mode:multiply; 
    }
    
    #lawn:active {
        background-color: rgba(56, 47, 47, 0.596);
        background-position: 3%;
        background-image: url('string trimmer.jpg');
    
    }
    
    #assistant:active {
        background-color: rgba(56, 47, 47, 0.596);
        background-position: 0%;
        background-image: url('chopping\ wood.jpg');
    }
    
    #arbys:active {
        background-color: rgba(56, 47, 47, 0.596);
        background-position: 4%;
        background-image: url('arbys.jpg');
    
    }

    #AWC:active {
        background-color: rgba(56, 47, 47, 0.596);
        background-position: 0%;
        background-image: url('woodworking.jpg');
    
    }
}

@media screen and (max-width: 600px) {
    #p-content2 {
        font-size: calc(55vw * 0.05);
    }
}


/* @media screen and (min-width: 1600px) {
    #regular-wrapper1 {
        width: 100vw;
        height: 55vw;
        min-height: initial;
        z-index: 2;
        position: relative;
        border: solid red 4px;
        justify-content: space-between;
    }
    
    .work-wrapper {
        background-color: #d33937;
        border-radius: 4%;
        width: 15vw;
        height: 15vw;
        background-position: 30% 50%;
        display: flex;
        border: solid red 4px;
        align-self: flex-end;
    }  
    
    .work {
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 20px;
        border-radius: 3%;
        width: 100%;
        background-position: 30% 50%;
    }    


} */
 
/* @media screen and (max-width: 549px) {
    header a {
      float: none;
      text-align: left;
      padding: 0px;
      display: block;
    }
  
    header a.address {
      color: black;
    }
  
    header {
      overflow: hidden;
      height: 100%;
      background: linear-gradient(to top, #ffa552, #ffa552 100px, #dfdfdf 100px, #dfdfdf);
      padding: 9px 10px;
      position: static;
    }
  
    .header-center{
      float: left;
      height: 80px;
      position: relative;
      padding: 10px;
      width: 160px;
    }
  
    .header-center p {
      float: none;
      text-align: left;
      padding: 1px 0px;
    }
  
    header img {
      float: left;
      text-align: left;
      border-radius: 50%;
      background-color: rgb(187, 187, 187);
      padding: 4px;
    }
    
    .header-right {
      display: block;
      float: none;
      padding-top: 37px;
      padding-bottom: 1px;
    }
  
    .hidden-br-title {
      display: initial !important;
    }
  
    .hidden-br-header {
      display: initial !important;
    }
  
  } */
  

/* 
#e03532
#362927 

#242424
#555555
#CCCCCC
*/
